html {
  font-size: 100%;
}


body {
  margin: 0;
  background-color: #b55; color: #fee;
  font-family: Source Sans Pro; font-weight: 400; font-size: 1rem;
}


h1, h2 {
  font-family: Source Sans Pro; font-weight: 600;
  line-height: auto;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1rem;
}


.row {}

.accordion-title, .accordion-title:link {
  padding: 16px 16px;
  background-color: #933; color: #fee !important;
  font-size: 1.25rem; font-weight: 600;
  border: solid 1px #fee; border-bottom: 0; 
  transition: 0.25s;
}

.accordion-title:hover, .accordion-title:visited {
  /*color: inherit;*/
  background-color: #711;
}

.accordion-content {
  background-color: #fefefe;
}