html {
  font-size: 100%;
  overflow: scroll-y; min-height: 101vh;
}


body {
  margin: 0;
  background-color: #100; color: #fee;
  font-family: Source Sans Pro; font-weight: 400; font-size: 1rem;
  scroll-
}


h1, h2 {
  font-family: Source Sans Pro; font-weight: 600;
  line-height: auto;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h1.small, h1 .small {
  font-size: 1.5rem;
}


h2 {
  font-size: 1rem;
}

.splash {
  display: block;
  /*height: 100vh;*/
}

.loadcontainer {
  position: relative; overflow: hidden;
  height: 16px; width: 80%;
  margin: 48px auto; border: solid 1px #fff; padding: 2px;
  box-sizing: border-box;
}

.loadbar {
  display: block; position: relative;
  background-color: #fff;
  width: 0; height: 10px;
}

.content {
  display: none;
}

.accordion-title, .accordion-title:link, .accordion-title:visited {
  padding: 16px 16px;
  background-color: #999; color: #fff !important;
  font-size: 1.25rem; font-weight: 600;
  border: 0; border-top: solid 1px #fee;
  transition: 0.15s;
}

.accordion-title:hover, .accordion-item.is-active > .accordion-title {
  background-color: #400;
}

.accordion-content {
  background-color: #eee;
}

.accordion-content img {
  display: block; width: 100%;
  margin: 24px auto;
}

